.panel {
    margin-bottom: 20px;
}

.panel:hover {
    opacity: 0.5;
}

.head {
    width: 30px;
}

.user {
    display: inline-block;
}

.favor {
    float: right;
    display: inline-block;
}

.panel-footer {
    padding: 10px 20px 10px 20px;
}

.content {
    font-size: 20px;
    margin-bottom: 10px;
}

.favor_icon {
    width: 30px;
    height: 30px;
}

.tab-content {
    margin-top: 20px;
}

.container {
    padding: 20px;
}

.btn-circle {
    text-align: center;
    box-shadow: 2px 2px 1px #888888;
    z-index: 1000;
    position: fixed;
    top: 2%;
    right: 15%;
    width: 70px;
    height: 70px;
    font-size: 20px;
    line-height: 1.33;
    border-radius: 35px;
}
