/*web background*/
.container{
    display:table;
    height:100%;
}

.row{
    display: table-cell;
    vertical-align: middle;
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

/*input style*/
.page-input {
    border: 1px solid #c0cad2;
    height: 36px;
    padding-left: 10px;
    line-height: 36px;
}