.carousel-control {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.head {
    width: 30px;
    height: 30px;
}

.headIcon {
    display: inline-block;
}

.commentMessage {
    margin-left: 10px;
    display: inline-block;
}

.item {
    display: flex;
    align-items: center;
}

.line {
    height: 5px;
}

.content {
    margin-top: 20px;
}

.username {
    font-size: 18px;
    color: #222222;
}

.createtime {
    color: #5e5e5e;
}

.tip {
    position: relative;
    float: right;
    top: 0;
}

.user {
    height: 120px;
    border: 1px #CCCCCC solid;
}

.other {
    overflow: hidden;
    margin-top: 10px;
    height: 280px;
    border: 1px #CCCCCC solid;
}

.userinfo {
    margin: 10px;
    display: flex;
    align-items: center;
}

.replyuser {
    font-weight: bold;
    display: inline-block;
}

.replycontent {
    display: inline-block;
}

.reply {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #CCCCCC;
    margin-top: 20px;
    margin-left: 40px;
}

.otherNoteImg {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.otherNoteContent {
    display: inline-block;
}

.otherNote {
    overflow: hidden;
    margin: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
}

.noteContent {
    font-size: 20px;
}

.currentUser {
    width: 30px;
    float: left;
}

.reply_other {
    margin-left: 60px;
}

.replyArea:hover {
    cursor: pointer;
    color: #CCCCCC;
}

.send {
    margin-left: 10px;
    text-align: center;
    line-height: 50px;
    color: white;
    width: 100px;
    height: 50px;
    background-color: #4cae4c;
    border-radius: 30px;
}

.cancel:hover {
    color: #CCCCCC;
}

.send:hover {
    background-color: #68ae65;
    margin-left: 10px;
    text-align: center;
    line-height: 50px;
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 30px;
}

.replySend {
    align-items: center;
    justify-content: center;
    display: flex;
}

.replySendOther {
    align-items: center;
    justify-content: center;
    display: flex;
}

.reply_area_other {
    margin-bottom: 10px;
    margin-left: 20px;
}